<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">OnliKAT</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeLogin()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <div class="list">
      
        <label class="item">
          <button class="button button-block button-positive" ng-click="learn()">Learn</button>
        </label>
		   <label class="item">
          <button class="button button-block button-positive" ng-click="teach()">Teach</button>
        </label>
      </div>
  </ion-content>
</ion-modal-view>
